
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
  }
body{
  background-color: rgb(40, 40, 40);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

a:link, a:visited {
  background-color: transparent;
  color: rgb(173, 173, 173);
  padding: 10px 20px;
  transition-duration: 0.5s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#Open:hover{
  color: rgb(255, 0, 0);
}
a:hover, a:active {
  color: rgb(0, 255, 47);
}
