.snowContainer{width: 100%; height: 800px; overflow: hidden; position: relative; z-index:-30;}
    .snowExample{ position: absolute; top: -450px; opacity: .8; text-align: center;
animation: SnowExampleSlide ease-in infinite;
-webkit-animation: SnowExampleSlide ease-in infinite;
-moz-animation: SnowExampleSlide ease-in infinite;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
@keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 633px;}      
0% {
    transform: rotate(0deg);
  }
  50% {
      transform: rotate(-40deg);
    }
  100% {
    transform: rotate(40deg);
  }}
@-webkit-keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 633px;}}
@-moz-keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 633px;}}
