h1 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    border-right: 500px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 150px;
    height: 100px;
    margin-right: 500px;
}
#rcorners {
    align-items: center;
    border-right: 500px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 150px;
    height: 100px;
    margin-right: 500px;
  }
  #Image{
    width: 40px;
    height: 30px;
  }