
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
  }
body{
  background-color: rgb(40, 40, 40);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#OpenC{
  background-color: transparent;
  border-color: transparent;
  font-size: 11.8pt;
  color: rgb(173, 173, 173);
  padding: 10px 20px;
  transition-duration: 0.5s;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: "Courier New", monospace;
  visibility: hidden;
}
#OpenC:hover{
  color: rgb(0, 255, 47);
}
#H{
  color: rgb(173, 173, 173);
  font-size: 32pt;
  font-weight: bold;
}
#H:hover {
color:rgb(173, 173, 173);
}
#ccnet {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Courier New", monospace;
}

a:link, a:visited {
  background-color: transparent;
  color: rgb(173, 173, 173);
  padding: 10px 20px;
  transition-duration: 0.5s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: rgb(0, 255, 47);
}